body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 13px;
}

.widget_Frame_Popup {
  min-width: 800px;
}

span.required_span {
  color: red;
}

.card {
  border: none;
}

h5.heading {
  background-color: #e7512f;
  padding: 3px 10px 4px 10px;
  color: white;
  margin: 15px 0px;
  font-size: 16px;
  border-bottom: 2px solid #333333;
}

.form-group.form-outline {
  margin-bottom: 12px;
}

.form-label {
  margin-bottom: 2px;
  font-weight: 500;
}

.cusBtn {
  float: right;
  padding: 4px 14px;
  background-color: #e7512f;
  border: none;
  font-size: 16px;
}

.form-control {
  font-size: 12px;
}

i.fa.fa-dollar {
  font-size: 14px;
}

.form-control:focus {
  border-color: #e7512f5e !important;
  box-shadow: 0 0 0 0.25rem rgb(228 106 78 / 39%) !important;
}

.btn:hover {
  background-color: #ff5c37bd !important;
  border-color: #ff5c37bd !important;
}
.uni_colr
{
  background-color: #e9ecef !important;
}
#success_msg{
  width:300px;
  height:30px;
  display:none;
  background-color:#4e6486;
  text-align:center;
  padding:10px 0px 0px 0px;
  color:white;
}

#error_msg{
  width:300px;
  height:30px;
  display:none;
  background-color:#ca4848;
  text-align:center;
  padding:10px 0px 0px 0px;
  color:white;
}
#updateBtn{
  background: #e7512f;
  border: 1px solid #e7512f;
}


h5.heading {
  width: 100% !important;
  padding: 4px 3px;
}
/* #hideshowdiv{
  visibility: hidden;
} */

/* gagan */
/* #term111{
   disabled: true; 
} */
input#fals_amount,#employee_pricing_amount {
  pointer-events: none;
  background-color: #e9ecef;
}
input#down_payments,#lease_down  {
  pointer-events: none;
  background-color: #e9ecef;
}


@media (min-width: 576px) {

  .container,
  .container-sm {
      max-width: 920px;
  }
}